body{
    font-family: Roboto, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

h1{
    width: 100%;
    background-color: #ffcc29;
    color: #fff;
    margin: 0;
    padding: 40px 0;
    font-size: 32px;
    text-align: center;
}

a{
    font-weight: 400;
    color: #fff;
    background-color: cornflowerblue;
    padding: 10px;
    margin: 20px;
    display: block;
    font-size: 18px;
    border-radius: 5px;
    width: 150px;
    text-decoration: none;
}

hr{
    height: 6px;
    background: url(http://ibrahimjabbari.com/english/images/hr-11.png) repeat-x 0 0;
    border: 0;
}

