body{
    font-family: Roboto, sans-serif;
    text-align: center;
    margin: 0;
    box-sizing: border-box;
}

h1{
    width: 100%;
    background-color: #ffcc29;
    color: #fff;
    margin: 0;
    padding: 40px;
    font-size: 30px;
    text-align: center;
}

a{
    font-weight: 400;
    color: #fff;
}